.heading {
    align-items: center;
    justify-content: space-between;
    width: 1400px;

    h5 {
        color: #6e6ad9;
        text-transform: uppercase;
        font-weight: 700!important;
        letter-spacing: 1px;
    }

    h2 {
        color: rgb(15, 15, 15);
        text-transform: capitalize;
        font-weight: 700!important;
        width: 400px;
    }

    p {
        color: #6c6c6c;
        width: 600px;
    }
}